<div class="container p-3">
  <h2 class="my-3">
    Chat:
  </h2>
  <h4 id="porcentajeComp"></h4>
  <form id="chatForm" class="p-2">
    <div class="mb-3">
      <label for="chatEmail" class="form-label">
        Email
      </label>
      <input
        required
        type="email"
        class="form-control w-50"
        id="chatEmail"
        name="chatEmail"
      />
    </div>
    <div class="mb-3">
      <label for="chatNombre" class="form-label">
        Nombre
      </label>
      <input
        required
        type="text"
        class="form-control w-50"
        id="chatNombre"
        name="chatNombre"
      />
    </div>
    <div class="mb-3">
      <label for="chatApellido" class="form-label">
        Apellido
      </label>
      <input
        required
        type="text"
        class="form-control w-50"
        id="chatApellido"
        name="chatApellido"
      />
    </div>
    <div class="mb-3">
      <label for="chatEdad" class="form-label">
        Edad
      </label>
      <input
        required
        type="number"
        min="1"
        class="form-control w-50"
        id="chatEdad"
        name="chatEdad"
      />
    </div>
    <div class="mb-3">
      <label for="chatAlias" class="form-label">
        Alias
      </label>
      <input
        required
        type="text"
        class="form-control w-50"
        id="chatAlias"
        name="chatAlias"
      />
    </div>
    <div class="mb-3">
      <label for="chatAvatar" class="form-label">
        Avatar URL
      </label>
      <input
        required
        type="url"
        class="form-control w-50"
        id="chatAvatar"
        name="chatAvatar"
      />
    </div>
    <div class="mb-3 p-3 overflow-auto border rounded bg-light" style="height: 20rem;">
      <ul id="chatList" class="list-unstyled"></ul>
    </div>
    <div class="mb-3 d-flex gap-3">
      <div class="w-100">
        <label for="chatMsj" class="form-label">
          Mensaje
        </label>
        <input
          required
          type="text"
          class="form-control"
          id="chatMsj"
          name="chatMsj"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Enviar
      </button>
    </div>
  </form>
</div>